.grid-padding {
  padding: 10px; }

.mod-header .grid-padding,
.mod-header .align-start,
.mod-header .align-end {
  display: -webkit-box; }
.mod-header .align-start,
.mod-header .align-end {
  -webkit-box-orient: horizontal;
  -webkit-box-align: center; }
.mod-header .align-start {
  -webkit-box-flex: 193;
  -webkit-box-pack: start; }
.mod-header .align-end {
  -webkit-box-flex: 44;
  -webkit-box-pack: end; }
.mod-header .logo {
  width: 96.5px;
  height: 17.5px;
  background: url(./imgs/logo.png) no-repeat; }
.mod-header .shopping-cart {
  width: 22px;
  height: 22px;
  background: url(./imgs/shopping-cart.png) no-repeat;
  -webkit-box-pack: end; }
.mod-header .logo,
.mod-header .shopping-cart {
  display: inline-block;
  background-size: 100%; }
